.advantages {
    background-color: #f6f6f6;
    padding: 70px 0 80px;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__subtitle {
        text-align: center;
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        margin-top: 20px;
    }
    &__icon {
        &_animated {
            animation: heartbeat 2s ease infinite;
        }
    }
}
a {
    color: $main-color;
}